[package]
name = "embedded-mcu-hal"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
chrono = { version = "^0.4", default-features = false, optional = true }
defmt = { version = "1.0", optional = true }
num_enum = { version = "0.7.5", default-features = false }

[dev-dependencies]
proptest = "1.0.0"

[features]
default = []

chrono = ["dep:chrono"]
defmt = ["dep:defmt"]
no_panic = []

[lints.clippy]
all = { level = "allow", priority = -1 }
expect_used = "warn"
indexing_slicing = "warn"
panic = "warn"
panic_in_result_fn = "warn"
todo = "warn"
unimplemented = "warn"
unreachable = "warn"
unwrap_used = "warn"
